# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\aamer\OneDrive\Documents\University Materials\Fourth semester\Data Structures and Alogrithsm II\lab\Project\Project Code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
